/*
 *
 * 	Devils Inc Studios
 * 	How Long
 * 	Copyright DEVILS INC. STUDIOS LIMITED 2013, 2014
 *	
 *	TODO: Include a description of the file here.
 *
*/

/*
  Importance Panels
*/

div.panel-heading.Critical {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #ff0000 0%, #C10000 100%);
  background-image: -moz-linear-gradient(top, #ff0000 0%, #C10000 100%);
  background-image: linear-gradient(to bottom, #ff0000 0%, #C10000 100%);
  background-repeat: repeat-x;
  color: #ffffff;
}
div.panel-heading.High {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #FF7400 0%, #C15700 100%);
  background-image: -moz-linear-gradient(top, #FF7400 0%, #C15700 100%);
  background-image: linear-gradient(to bottom, #FF7400 0%, #C15700 100%);
  background-repeat: repeat-x;
  color: #ffffff;
}
div.panel-heading.Medium {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #FFD300 0%, #C1A000 100%);
  background-image: -moz-linear-gradient(top, #FFD300 0%, #C1A000 100%);
  background-image: linear-gradient(to bottom, #FFD300 0%, #C1A000 100%);
  background-repeat: repeat-x;
  color: #ffffff;
}
div.panel-heading.Low {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #00C90D 0%, #008309 100%);
  background-image: -moz-linear-gradient(top, #00C90D 0%, #008309 100%);
  background-image: linear-gradient(to bottom, #00C90D 0%, #008309 100%);
  background-repeat: repeat-x;
  color: #ffffff;
}
div.panel-heading.Info {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #4282D3 0%, #20589F 100%);
  background-image: -moz-linear-gradient(top, #4282D3 0%, #20589F 100%);
  background-image: linear-gradient(to bottom, #4282D3 0%, #20589F 100%);
  background-repeat: repeat-x;
  color: #ffffff;
}

/*
  Importance Labels
*/

.label-Critical {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #ff0000 0%, #C10000 100%);
  background-image: -moz-linear-gradient(top, #ff0000 0%, #C10000 100%);
  background-image: linear-gradient(to bottom, #ff0000 0%, #C10000 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-High {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #FF7400 0%, #A64B00 100%);
  background-image: -moz-linear-gradient(top, #FF7400 0%, #A64B00 100%);
  background-image: linear-gradient(to bottom, #FF7400 0%, #A64B00 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Medium {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #FFD300 0%, #C1A000 100%);
  background-image: -moz-linear-gradient(top, #FFD300 0%, #C1A000 100%);
  background-image: linear-gradient(to bottom, #FFD300 0%, #C1A000 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Low {
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #00C90D 0%, #008309 100%);
  background-image: -moz-linear-gradient(top, #00C90D 0%, #008309 100%);
  background-image: linear-gradient(to bottom, #00C90D 0%, #008309 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Info{
  background-color: #FF0000;
  background-image: -webkit-linear-gradient(top, #4282D3 0%, #20589F 100%);
  background-image: -moz-linear-gradient(top, #4282D3 0%, #20589F 100%);
  background-image: linear-gradient(to bottom, #4282D3 0%, #20589F 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}

/*
  Type Labels
*/

.label-AI {
  background-color: #CB01E0;
  background-image: -webkit-linear-gradient(top, #CB01E0 0%, #9C2BA8 100%);
  background-image: -moz-linear-gradient(top, #CB01E0 0%, #9C2BA8 100%);
  background-image: linear-gradient(to bottom, #CB01E0 0%, #9C2BA8 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Client {
  background-color: #FF7F00;
  background-image: -webkit-linear-gradient(top, #FF7F00 0%, #BF7730 100%);
  background-image: -moz-linear-gradient(top, #FF7F00 0%, #BF7730 100%);
  background-image: linear-gradient(to bottom, #FF7F00 0%, #BF7730 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Debug {
  background-color: #0570E0;
  background-image: -webkit-linear-gradient(top, #0570E0 0%, #2D69A8 100%);
  background-image: -moz-linear-gradient(top, #0570E0 0%, #2D69A8 100%);
  background-image: linear-gradient(to bottom, #0570E0 0%, #2D69A8 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Error {
  background-color: #6C02AA;
  background-image: -webkit-linear-gradient(top, #6C02AA 0%, #5C2180 100%);
  background-image: -moz-linear-gradient(top, #6C02AA 0%, #5C2180 100%);
  background-image: linear-gradient(to bottom, #6C02AA 0%, #5C2180 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Framework {
  background-color: #9900A9;
  background-image: -webkit-linear-gradient(top, #9900A9 0%, #76207F 100%);
  background-image: -moz-linear-gradient(top, #9900A9 0%, #76207F 100%);
  background-image: linear-gradient(to bottom, #9900A9 0%, #76207F 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-GameLogic{
  background-color: #C16000;
  background-image: -webkit-linear-gradient(top, #C16000 0%, #915A24 100%);
  background-image: -moz-linear-gradient(top, #C16000 0%, #915A24 100%);
  background-image: linear-gradient(to bottom, #C16000 0%, #915A24 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Graphics{
  background-color: #0354A9;
  background-image: -webkit-linear-gradient(top, #0354A9 0%, #214F7F 100%);
  background-image: -moz-linear-gradient(top, #0354A9 0%, #214F7F 100%);
  background-image: linear-gradient(to bottom, #0354A9 0%, #214F7F 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Gui{
  background-color: #A4BF00;
  background-image: -webkit-linear-gradient(top, #A4BF00 0%, #808F24 100%);
  background-image: -moz-linear-gradient(top, #A4BF00 0%, #808F24 100%);
  background-image: linear-gradient(to bottom, #A4BF00 0%, #808F24 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Input{
  background-color: #8223BA;
  background-image: -webkit-linear-gradient(top, #8223BA 0%, #6C378B 100%);
  background-image: -moz-linear-gradient(top, #8223BA 0%, #6C378B 100%);
  background-image: linear-gradient(to bottom, #8223BA 0%, #6C378B 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Network{
  background-color: #FF8100;
  background-image: -webkit-linear-gradient(top, #FF8100 0%, #BF7830 100%);
  background-image: -moz-linear-gradient(top, #FF8100 0%, #BF7830 100%);
  background-image: linear-gradient(to bottom, #FF8100 0%, #BF7830 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Physics{
  background-color: #FF2800;
  background-image: -webkit-linear-gradient(top, #FF2800 0%, #BF4630 100%);
  background-image: -moz-linear-gradient(top, #FF2800 0%, #BF4630 100%);
  background-image: linear-gradient(to bottom, #FF2800 0%, #BF4630 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Server{
  background-color: #3C08E3;
  background-image: -webkit-linear-gradient(top, #3C08E3 0%, #4C2FAA 100%);
  background-image: -moz-linear-gradient(top, #3C08E3 0%, #4C2FAA 100%);
  background-image: linear-gradient(to bottom, #3C08E3 0%, #4C2FAA 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-System{
  background-color: #C1A000;
  background-image: -webkit-linear-gradient(top, #C1A000 0%, #917E24 100%);
  background-image: -moz-linear-gradient(top, #C1A000 0%, #917E24 100%);
  background-image: linear-gradient(to bottom, #C1A000 0%, #917E24 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
.label-Warning{
  background-color: #31B700;
  background-image: -webkit-linear-gradient(top, #31B700 0%, #3E8922 100%);
  background-image: -moz-linear-gradient(top, #31B700 0%, #3E8922 100%);
  background-image: linear-gradient(to bottom, #31B700 0%, #3E8922 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}

/*
  Type Colors
*/
li>a.All{
  background-color: #FFA040;
  background-image: -webkit-linear-gradient(top, #FFA040 0%, #FFBA73 100%);
  background-image: -moz-linear-gradient(top, #FFA040 0%, #FFBA73 100%);
  background-image: linear-gradient(to bottom, #FFA040 0%, #FFBA73 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.AI {
  background-color: #CB01E0;
  background-image: -webkit-linear-gradient(top, #CB01E0 0%, #9C2BA8 100%);
  background-image: -moz-linear-gradient(top, #CB01E0 0%, #9C2BA8 100%);
  background-image: linear-gradient(to bottom, #CB01E0 0%, #9C2BA8 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Client {
  background-color: #FF7F00;
  background-image: -webkit-linear-gradient(top, #FF7F00 0%, #BF7730 100%);
  background-image: -moz-linear-gradient(top, #FF7F00 0%, #BF7730 100%);
  background-image: linear-gradient(to bottom, #FF7F00 0%, #BF7730 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Debug {
  background-color: #0570E0;
  background-image: -webkit-linear-gradient(top, #0570E0 0%, #2D69A8 100%);
  background-image: -moz-linear-gradient(top, #0570E0 0%, #2D69A8 100%);
  background-image: linear-gradient(to bottom, #0570E0 0%, #2D69A8 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Error {
  background-color: #6C02AA;
  background-image: -webkit-linear-gradient(top, #6C02AA 0%, #5C2180 100%);
  background-image: -moz-linear-gradient(top, #6C02AA 0%, #5C2180 100%);
  background-image: linear-gradient(to bottom, #6C02AA 0%, #5C2180 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Framework {
  background-color: #9900A9;
  background-image: -webkit-linear-gradient(top, #9900A9 0%, #76207F 100%);
  background-image: -moz-linear-gradient(top, #9900A9 0%, #76207F 100%);
  background-image: linear-gradient(to bottom, #9900A9 0%, #76207F 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.GameLogic{
  background-color: #C16000;
  background-image: -webkit-linear-gradient(top, #C16000 0%, #915A24 100%);
  background-image: -moz-linear-gradient(top, #C16000 0%, #915A24 100%);
  background-image: linear-gradient(to bottom, #C16000 0%, #915A24 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Graphics{
  background-color: #0354A9;
  background-image: -webkit-linear-gradient(top, #0354A9 0%, #214F7F 100%);
  background-image: -moz-linear-gradient(top, #0354A9 0%, #214F7F 100%);
  background-image: linear-gradient(to bottom, #0354A9 0%, #214F7F 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Gui{
  background-color: #A4BF00;
  background-image: -webkit-linear-gradient(top, #A4BF00 0%, #808F24 100%);
  background-image: -moz-linear-gradient(top, #A4BF00 0%, #808F24 100%);
  background-image: linear-gradient(to bottom, #A4BF00 0%, #808F24 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Input{
  background-color: #8223BA;
  background-image: -webkit-linear-gradient(top, #8223BA 0%, #6C378B 100%);
  background-image: -moz-linear-gradient(top, #8223BA 0%, #6C378B 100%);
  background-image: linear-gradient(to bottom, #8223BA 0%, #6C378B 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Network{
  background-color: #FF8100;
  background-image: -webkit-linear-gradient(top, #FF8100 0%, #BF7830 100%);
  background-image: -moz-linear-gradient(top, #FF8100 0%, #BF7830 100%);
  background-image: linear-gradient(to bottom, #FF8100 0%, #BF7830 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Physics{
  background-color: #FF2800;
  background-image: -webkit-linear-gradient(top, #FF2800 0%, #BF4630 100%);
  background-image: -moz-linear-gradient(top, #FF2800 0%, #BF4630 100%);
  background-image: linear-gradient(to bottom, #FF2800 0%, #BF4630 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Server{
  background-color: #3C08E3;
  background-image: -webkit-linear-gradient(top, #3C08E3 0%, #4C2FAA 100%);
  background-image: -moz-linear-gradient(top, #3C08E3 0%, #4C2FAA 100%);
  background-image: linear-gradient(to bottom, #3C08E3 0%, #4C2FAA 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.System{
  background-color: #C1A000;
  background-image: -webkit-linear-gradient(top, #C1A000 0%, #917E24 100%);
  background-image: -moz-linear-gradient(top, #C1A000 0%, #917E24 100%);
  background-image: linear-gradient(to bottom, #C1A000 0%, #917E24 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.Warning{
  background-color: #31B700;
  background-image: -webkit-linear-gradient(top, #31B700 0%, #3E8922 100%);
  background-image: -moz-linear-gradient(top, #31B700 0%, #3E8922 100%);
  background-image: linear-gradient(to bottom, #31B700 0%, #3E8922 100%);
  background-repeat: repeat-x;
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
li>a.TypeDisabled {
  background-color: #31B700;
  background-image: -webkit-linear-gradient(top, #B6B6B6 0%, #262626 100%);
  background-image: -moz-linear-gradient(top, #B6B6B6 0%, #262626 100%);
  background-image: linear-gradient(to bottom, #B6B6B6 0%, #262626 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B6B6B6', endColorstr='#262626', GradientType=0);
  color: #ffffff;
  border-style: groove;
  border-width: 2px;
  border-color: #000000;
}
